<!DOCTYPE html>
<html>



<head>
  <title>Shadowhealthtrivia</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shadow Health Trivia Quiz</title>
  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .navbar{
      margin-bottom:0;
      border-radius:0;
    }
  </style>
</head>


<body>
<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/takequiz/takequiz">Shadow Health Trivia Quiz</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li><a href="/takequiz/takequiz">Take Health Quiz<span class="sr-only">(current)</span></a></li>


        <li><%= link_to 'Back', add_questions_path %></li>

        <li class="active"><a href="/scoreboard/scoreboard">Score Boards</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->



</nav>
<!-- JUMBOTRON -->
<div class="jumbotron text-center">
  <div class="container">
    <h1>Welcome to Shadow Health Quiz</h1>
    <p>Learn !! Take Quiz !!  Be the top Scorer  !!</p>
    <!-- <a href="#" class="btn btn-primary">Read More</a> -->
  </div>
</div>
<%= yield %>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
</body>




</html>
